<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
>
<head>
</head>
<body>
  <div layout:fragment="content">
    <h2>Форум</h2>
    <div class="container-fluid column">
      <div class="card text-end mb-3" style="background-color: rgb(211,211,211);">
        <div class="row g-0 justify-content-between forum_page">
          <div class="col-md-4 forum_img">
            <img src="x5s0payf.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="#" class="text-black"><h5 class="card-title">Обсуждение 1</h5></a>
              <p class="card-text">Создатель: Пользователь 1</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card text-end mb-3" style="background-color: rgb(211,211,211);">
        <div class="row g-0 justify-content-between forum_page">
          <div class="col-md-4 forum_img">
            <img src="x5s0payf.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="#" class="text-black"><h5 class="card-title">Обсуждение 2</h5></a>
              <p class="card-text">Создатель: Пользователь 2</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>